.hero {
	padding: 160px 0 20px 0;
	background-color: $bg;
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 85px;
		h1 {
			font-size: 42px;
			line-height: 46px;
			span {
				margin-left: 30px;
			}
		}
		p {
			margin: 60px 0;
		}
	}
	&__box {
		display: flex;
		gap: 14px;
		div {
			width: 100%;
		}
	}
	@media screen and (min-width: $desktop) {
		padding: 120px 0 70px 0;
		&__wrapper {
			flex-direction: row;
			position: relative;
			.hero__box {
				width: fit-content;
			}
			&--center {
				margin-left: 80px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				&::after {
					content: '';
					width: 260px;
					height: 1px;
					bottom: 0;
					position: absolute;
					background: $black;
				}
			}
			p {
				margin-left: 96px;
			}
		}
	}
}

.form {
	padding: 50px 25px;
	background-color: $white;
	border-radius: 20px;
	&__wrapper {
		h2 {
			margin-bottom: 34px;
			font-size: 26px;
			line-height: 34px;
			span {
				color: $red-4;
			}
		}
	}

	&__input {
		margin-bottom: 12px;
		transition: $transition;

		input {
			border: 1px solid $bg;
			font-size: 12px;
			padding: 12px;
			width: 100%;
			transition: $transition;
			border-radius: 8px;

			&::placeholder {
				color: #bbbbbb;
			}
			&:hover,
			&:focus,
			&:active {
				border: 1px solid $black;
			}
		}
	}
	@media screen and (min-width: $desktop) {
		min-width: 400px;
		&__wrapper {
			.row {
				display: flex;
				gap: 12px;
			}
		}
	}
	@media screen and (min-width: 1200px) {
		min-width: 550px;
		&__wrapper {
			h2 {
				max-width: 300px;
			}
		}
	}
}

.multiselect {
	position: relative;
	width: 100%;

	&-toggle {
		margin-bottom: 12px;
		border: 1px solid $bg;
		font-size: 12px;
		padding: 8px 12px;
		border-radius: 8px;
		color: #bbbbbb;
		cursor: pointer;
		position: relative;
		transition: $transition;
		&:hover,
		&:focus,
		&:active {
			border: 1px solid $black;
		}

		&::after {
			content: '';
			display: block;
			width: 12px;
			height: 12px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M11.428 17.763a.808.808 0 0 0 1.144 0l9.691-9.692a.809.809 0 0 0-1.143-1.143L12 16.049 2.88 6.928A.809.809 0 1 0 1.737 8.07l9.691 9.692Z' clip-rule='evenodd'/%3E%3C/svg%3E");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			right: 20px;
			top: 40%;
			transition: 0.2s ease-in;
		}
	}

	&.open {
		.multiselect-toggle::after {
			transform: rotate(180deg);
		}

		.multiselect-popup {
			display: grid;
		}
	}

	&-popup {
		display: none;
		position: absolute;
		top: 125%;
		left: 0;
		right: 0;
		background: $white;
		border-radius: 12px;
		box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
		padding: 16px;
		z-index: 999;
		grid-template-columns: repeat(1, 1fr);
		gap: 10px;
		@media screen and (min-width: $desktop) {
			grid-template-columns: repeat(3, 1fr);
		}

		label {
			display: flex;
			align-items: center;
			gap: 8px;
			cursor: pointer;
			font-size: 12px;
			position: relative;
			padding-left: 28px;
			color: #bbbbbb;

			input[type='checkbox'] {
				opacity: 0;
				position: absolute;
				left: 0;
				width: 0;
				height: 0;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 18px;
				height: 18px;
				border-radius: 4px;
				background: $bg;
			}

			&:has(input[type='checkbox']:checked) {
				&::before {
					content: '';
					display: block;
					width: 18px;
					height: 18px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 256 256'%3E%3Cpath fill='%23fa5252' stroke-miterlimit='10' d='M19.281 5.281 9 15.563 4.719 11.28 3.28 12.72l5 5 .719.687.719-.687 11-11z' font-family='none' font-size='none' font-weight='none' style='mix-blend-mode:normal' text-anchor='none' transform='scale(10.66667)'/%3E%3C/svg%3E");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}
