@font-face {
	font-display: swap;
	font-family: 'PlusJakartaSans-Regular';
	font-style: normal;
	font-weight: 400;
	src: url('./src/fonts/PlusJakartaSans-Regular.woff') format('woff'),
		url('./src/fonts/PlusJakartaSans-Regular.ttf') format('truetype'),
		url('./src/fonts/PlusJakartaSans-Regular.eot') format('opentype');
}
