$regular: 'PlusJakartaSans-Regular', 'sans-serif';

//Colors
$white: #fff;
$black: #000000;
$black-2: #383836;
$black-3: #5c5c5d;
$grey: #cecece;
$bg: #f7f6fe;
$red: #ee2264;
$red-2: #f62265;
$red-3: #f1638a;
$red-4: #f03f79;

$mobile: 375px;
$tablet: 576px;
$desktop: 992px;

//Transition
$transition: all 0.3s ease-in-out;
